.wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 7.5rem;
  height: 100%;
}
header {
  flex-shrink: 0;
}
header > .top {
  background: linear-gradient(#1e9093, #36f0be);
  padding: 0.7rem 0.25rem 0.15rem 0.25rem;
  /* display: flex; */
  /* justify-content: space-between; */
}
header > .top a {
  display: block;
  float: left;
  line-height: 0.42rem;
  color: #079e7d;
  margin-right: 1.87rem;
  font-size: 0.3rem;
}
header > .top span {
  display: block;
  float: left;
  font-size: 0.3rem;
  line-height: 0.42rem;
  color: #037f64;
  margin-right: 0.98rem;
}
.active {
  border-bottom: 3px solid #037f64;
}
section {
  flex-grow: 1;
  overflow: auto;
  background-color: #f5f5f5;
}
section ul > li {
  padding: 0.25rem 0.4rem 0.24rem 0.3rem;
  background-color: #fff;
}
section .mid-top img {
  display: block;
  float: left;
  width: 0.65rem;
  margin-right: 0.15rem;
}
section .mid-top h5 {
  float: left;
  width: 1.72rem;
  font-size: 0.28rem;
  line-height: 0.65rem;
  margin-right: 0.15rem;
  color: #858383;
}
section .mid-top span {
  display: block;
  float: left;
  font-size: 0.26rem;
  margin-top: 0.12rem;
  border-bottom: 1px solid #a0a0a0;
  color: #a0a0a0;
}
section ul > li {
  margin-bottom: 0.12rem;
}
section ul > li p {
  font-size: 0.32rem;
  line-height: 0.48rem;
  color: #767575;
  margin-bottom: 0.32rem;
}
section ul > li span.left {
  display: block;
  float: left;
  line-height: 0.58rem;
  font-size: 0.24rem;
  color: #a0a0a0;
}
section ul > li span.one {
  display: block;
  float: left;
  width: 2.34rem;
  line-height: 0.58rem;
  color: #fff;
  background-color: #1ccda6;
  border-radius: 0.29rem;
  font-size: 0.28rem;
  text-align: center;
}

section ul > li span.left span.iconfont {
  line-height: 0.58rem;
  font-size: 0.24rem;
  margin-right: 0.12rem;
  color: #b9b9b9;
}
section ul > li span.right {
  display: block;
  float: right;
  font-size: 0.24rem;
  color: #a0a0a0;
  line-height: 0.52rem;
}
section ul > li span.right span {
  margin-left: 0.12rem;
}
