.wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 7.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  flex-shrink: 0;
}
header > .top {
  background: linear-gradient(#1e9093, #36f0be);
  padding: 0.62rem 0.3rem 0.3rem 0.3rem;
}
header > .top a {
  display: block;
  float: left;
  width: 0.35rem;
  margin-right: 2.83rem;
  line-height: 0.36rem;
  font-size: 0.226rem;
  color: #0ca685;
}
header > .top span {
  display: block;
  float: left;
  line-height: 0.36rem;
  font-size: 0.226rem;
  color: #059979;
}
section {
  flex-grow: 1;
  overflow: auto;
}
/* section {
  width: 100%;
} */
section .s-one .s-1,
section .s-two {
  overflow: hidden;
  padding: 0 0.3rem;
}
section .s-1 {
  margin-top: 0.34rem;
  margin-bottom: 0.35rem;
  display: flex;
  justify-content: space-between;
}
section .s-1 span {
  display: block;
  font-size: 0.2rem;
  line-height: 0.32rem;
  color: #059979;
  border-left: 1px solid #059979;
  padding-left: 0.1rem;
}
section .s-1 a {
  display: block;
}
section .s-1 a span {
  border: 0;
}
section > .s-one > .s-2 > .s-2-box > .s-2-pic {
  display: flex;
  flex-wrap: wrap;
}
section > .s-one > .s-2 > .s-2-box > .s-2-pic > img {
  width: 2.47rem;
  height: 1.88rem;
  margin-right: 0.03rem;
  margin-bottom: 0.03rem;
}
section .xian {
  width: 100%;
  height: 0.18rem;
  background-color: #f8f8f8;
  margin-top: 0.2rem;
}
section > .s-two > .s-2 > .s-2-box {
  display: flex;
  justify-content: space-between;
}
section > .s-two > .s-2 > .s-2-box > img {
  width: 1.85rem;
  height: 1.84rem;
  margin-right: 0.15rem;
}
section > .s-two > .s-2 > .s-2-box > .s-2-text {
  width: 4.89rem;
}
section > .s-two > .s-2 > .s-2-box > .s-2-text > h3 {
  font-size: 0.3rem;
  color: #202020;
}
section > .s-two > .s-2 > .s-2-box > .s-2-text > span {
  display: block;
  font-size: 0.18rem;
  color: #6e6a6a;
  margin-top: 0.29rem;
}
section > .s-two > .s-2 > .s-2-box > .s-2-text > .zan {
  font-size: 0.16rem;
  color: #b2b2b2;
  float: right;
  margin-right: 0.15rem;
  margin-top: 0.52rem;
}
section > .s-two > .s-2 > .s-2-box > .s-2-text > .zan i {
  margin-right: 0.3rem;
}
section > .s-two > .s-2 > .s-2-box > .s-2-text > .zan i:last-child {
  margin-right: 0;
}
section > .s-two.two2 {
  margin-top: 0.3rem;
}
section > .s-two > .s-2 > .s-2-box > .s-2-text > .zan2 {
  margin-top: 0.16rem;
}
section .xian1 {
  margin-top: 0;
}
