.wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 7.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  flex-shrink: 0;
}
header > .top {
  background: linear-gradient(#1e9093, #36f0be);
  padding: 0.62rem 0.3rem 0.3rem 0.3rem;
}
header > .top a {
  display: block;
  float: left;
  width: 0.35rem;
  margin-right: 2.83rem;
  line-height: 0.36rem;
  font-size: 0.226rem;
  color: #0ca685;
}
header > .top span {
  display: block;
  float: left;
  line-height: 0.36rem;
  font-size: 0.226rem;
  color: #059979;
}
section {
  flex-grow: 1;
  overflow: auto;
}
section .mid-top {
  display: flex;
  justify-content: space-between;
  padding: 0.15rem 2.5rem;
  margin-bottom: 0.78rem;
}
section .mid-top span {
  font-size: 0.32rem;
  color: #202020;
  line-height: 0.4rem;
}
.active {
  border-bottom: 6px solid #059979;
}
section .content {
  padding: 0.3rem 0.24rem 0 0.24rem;
  margin-bottom: 0.18rem;
  background-color: #fff;
}
section .content .title {
  margin-bottom: 0.5rem;
}
section .content .title h5 {
  float: left;
  font-size: 0.18rem;
  color: #28b9ac;
  line-height: 0.32rem;
  border-left: 2px solid #28b9ac;
  padding-left: 0.06rem;
}
section .content .title span {
  display: block;
  float: right;
  font-size: 0.22rem;
  line-height: 0.52rem;
}
section .content .title span > img {
  display: block;
  float: right;
  width: 0.52rem;
  margin-left: 0.06rem;
}

section .content .word div {
  width: 3.5rem;
  padding: 0 0.18rem;
  float: left;
}
section .content .word div h3 {
  font-size: 0.36rem;
  line-height: 0.44rem;
  color: #202020;
}
section .content .word div p {
  font-size: 0.3rem;
  line-height: 0.46rem;
  color: #6b6b6b;
}
section .content .word img {
  display: block;
  float: right;
  width: 2.2rem;
}
section .content .bot .mid-left {
  float: left;
}
section .content .bot .mid-right {
  float: right;
}
section .content .bot span {
  font-size: 0.2rem;
  color: #828282;
}
section .content .bot .mid-left > .riqi {
  margin-right: 0.06rem;
}

section .content .bot .mid-right > span {
  margin-left: 0.3rem;
}
section .content .bot .mid-right > span > i.iconfont {
  font-size: 0.2rem;
  margin-right: 0.06rem;
}
footer {
  flex-flow: 0;
  padding: 0.12rem 0.28rem;
}
footer div > img {
  display: block;
  float: left;
  width: 0.62rem;
  height: 0.62rem;
  margin-right: 0.16rem;
}
footer div > h5 {
  float: left;
  font-size: 0.24rem;
  line-height: 0.34rem;
  color: #d4d4d4;
}
footer div > h5 > span {
  display: block;
  font-size: 0.2rem;
  color: #828282;
}
footer div > .bottom-right {
  float: right;
}
footer div > .bottom-right span {
  display: block;
  float: left;
  line-height: 0.6rem;
  font-size: 0.6rem;
  margin-left: 0.48rem;
  color: #454545;
}
