.wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 7.5rem;
  height: 100%;
}
header {
  border-bottom: 3px solid #099a7c;
  background-image: url('../images/u1513_09.jpg');
  background-size: cover;
  background-position: center;
  padding: 0.66rem 0.3rem 4.56rem 0.3rem;
  /* position: relative; */
  /* z-index: 0; */
}
header .left {
  display: block;
  float: left;
  color: #079e7d;
  font-size: 0.35rem;
}
header .right {
  display: block;
  float: right;
  color: #fff;
  font-size: 0.22rem;
  line-height: 0.36rem;
  width: 1rem;
  border: 1px solid #079e7d;
  text-align: center;
  border-radius: 0.2rem;
}
section {
  padding: 0.35rem 0.3rem 0 0.3rem;
  /* flex-grow: 1; */
  /* overflow: auto; */
}
section .title {
  position: relative;
  /* z-index: 2; */
}
section .title,
section .content {
  margin-bottom: 0.2rem;
}
section .title .title-left {
  display: block;
  float: left;
  font-size: 0.18rem;
  color: #28b9ac;
  line-height: 0.32rem;
  border-left: 2px solid #28b9ac;
  padding-left: 0.06rem;
}
section .title .title-right {
  display: block;
  text-align: center;
  font-size: 0.3rem;
  color: #28b9ac;
  line-height: 0.64rem;
  position: absolute;
  top: 0;
  margin-top: -1rem;
  right: 0;
}
section .title .title-right img {
  display: block;
  width: 1.42rem;
}
section .content h3 {
  width: 3.62rem;
  font-size: 0.68rem;
  line-height: 0.7rem;
  color: #4d4c4c;
}
section .content h3 span {
  display: block;
  font-size: 0.22rem;
  color: #1a1a1a;
  line-height: 1.02rem;
}
section .content p {
  font-size: 0.32rem;
  line-height: 0.46rem;
  color: #6b6b6b;
  width: 5.86rem;
}
footer {
  position: fixed;
  bottom: 0;
}
footer > div {
  width: 6.46rem;
  display: flex;
  justify-content: space-between;
}
footer > div span {
  font-size: 0.24rem;
  color: #c9e0e2;
  line-height: 0.84rem;
}
footer > div span i.iconfont {
  font-size: 0.24rem;
  line-height: 0.84rem;
  color: #46b39c;
  margin-right: 0.04rem;
}
